<a href="https://colab.research.google.com/github/c0nrrrs/Connor_DTSC3020_Fall2025/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
fruits = ['mango', 'pear', 'watermelon']
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

['mango', 'pear', 'watermelon']
mango
pear
watermelon

In [19]:
names = ['Connor',  'Jeff', 'Brian', 'Joe']
print(names)
names[0] = 'Jonathan'
print(names)

['Connor', 'Jeff', 'Brian', 'Joe']
['Jonathan', 'Jeff', 'Brian', 'Joe']

In [18]:
vehicles = ['car','truck','motorcycle','train','airplane']
print(vehicles)
vehicles.append('boat')
print(vehicles)

['car', 'truck', 'motorcycle', 'train', 'airplane']
['car', 'truck', 'motorcycle', 'train', 'airplane', 'boat']

In [17]:
foods = ['pizza', 'tacos', 'burgers', 'fries', 'burritos', 'spaghetti']
print(foods)
del foods[0]
print(foods)

['pizza', 'tacos', 'burgers', 'fries', 'burritos', 'spaghetti']
['tacos', 'burgers', 'fries', 'burritos', 'spaghetti']

In [16]:
cities = ['New York', 'Los Angeles', 'Chicago', 'Houston']
cities.sort()
print(cities)
cities.sort(reverse=True)
print(cities)

['Chicago', 'Houston', 'Los Angeles', 'New York']
['New York', 'Los Angeles', 'Houston', 'Chicago']

In [10]:
animals = ['cat', 'dog', 'zebra']
for animals in animals:
    print(animals)

cat
dog
zebra

In [14]:
numbers = list(range(1, 6))
print(numbers)
squares = []
for value in range (1, 6):
  square = value *2
  squares.append(square)
print(squares)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

In [26]:
friends = ['Hussain', 'Sienna', 'V', 'Leelan', 'Danny', 'ian']
print(friends)
print(friends[0:3])
print(friends[2:5])

['Hussain', 'Sienna', 'V', 'Leelan', 'Danny', 'ian']
['Hussain', 'Sienna', 'V']
['V', 'Leelan', 'Danny']

In [28]:
for value in range (1, 11):
  print(value)

1
2
3
4
5
6
7
8
9
10

In [29]:
squares = [value**2 for value in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]